---
title: Rachel and Paul 4 eva
---

<div id="header">
  <img class="left" src="images/rn_webheader_left.jpg" height="65px" style="margin-right:-30px" />
  <div class="nav">
    <h2><a href="#our_story">OUR STORY</a></h2>
    <h2><a href="#wedding_party" data-nav="wedding_party">WEDDING PARTY</a></h2>
  </div>
  <div class="title">
    <img class="left" src="images/rn_webheader_left_alligator.jpg" height="50px" />
    <h1 class="left"><a href="#home">RACHEL &amp; PAUL</a></h1>
    <img class="left" src="images/rn_webheader_right_alligator.jpg" height="50px" />
  </div>
  <img class="right" src="images/rn_webheader_right.jpg" height="65px" />
  <div class="nav">
    <h2><a href="#festivities" data-nav="festivities">FESTIVITIES</a></h2>
    <h2><a href="#details" data-nav="details">DETAILS</a></h2>
    <h2><a href="#nola" data-nav="nola">NOLA</a></h2>
  </div>
  <div class="separator"></div>

  <ul class="nav-sub wedding_party">
    <li><a href="#bride_and_groom">Bride &amp; Groom</a></li>
    <li><a href="#bridesmaids">Bridesmaids</a></li>
    <li><a href="#groomsmen">Groomsmen</a></li>
    <li><a href="#flowezr_girl">Flower girl</a></li>
  </ul>

  <ul class="nav-sub details">
    <li><a href="#hotels">Hotels</a></li>
    <li><a href="#faq">FAQ</a></li>
    <li><a href="#registry">Registry</a></li>
  </ul>

  <ul class="nav-sub details">
    <li><a href="#hotels">Hotels</a></li>
    <li><a href="#faq">FAQ</a></li>
    <li><a href="#registry">Registry</a></li>
  </ul>

  <ul class="nav-sub nola">
    <li><a href="#tours_and_classes">Tours &amp; Classes</a></li>
    <li><a href="#eating">Eating</a></li>
    <li><a href="#drinking">Drinking</a></li>
    <li><a href="#sights">Sights</a></li>
    <li><a href="#explore_the_south">Explore the South</a></li>
  </ul>
</div>

  <div
    class="parallax-image-wrapper parallax-image-wrapper-100"
    data-anchor-target="#home + .gap"
    data-bottom-top="transform:translate3d(0px, 200%, 0px)"
    data-top-bottom="transform:translate3d(0px, 0%, 0px)">

    <div
      class="parallax-image parallax-image-100"
      style="background-image:url(images/main/sitting.jpg)"
      data-anchor-target="#home + .gap"
      data-bottom-top="transform: translate3d(0px, -80%, 0px);"
      data-top-bottom="transform: translate3d(0px, 80%, 0px);"
    ></div>
    <!--the +/-80% translation can be adjusted to control the speed difference of the image-->
  </div>

  <div
    class="parallax-image-wrapper parallax-image-wrapper-50"
    data-anchor-target="#our_story + .gap"
    data-bottom-top="transform:translate3d(0px, 200%, 0px)"
    data-top-bottom="transform:translate3d(0px, 0%, 0px)">

    <div
      class="parallax-image parallax-image-50"
      style="background-image:url(images/main/beach.jpg)"
      data-anchor-target="#our_story + .gap"
      data-bottom-top="transform: translate3d(0px, -60%, 0px);"
      data-top-bottom="transform: translate3d(0px, 60%, 0px);"
    ></div>
  </div>

  <div
    class="parallax-image-wrapper parallax-image-wrapper-100"
    data-anchor-target="#wedding_party + .gap"
    data-bottom-top="transform:translate3d(0px, 200%, 0px)"
    data-top-bottom="transform:translate3d(0px, 0%, 0px)">

    <div
      class="parallax-image parallax-image-100"
      style="background-image:url(images/main/duomo.jpg)"
      data-anchor-target="#wedding_party + .gap"
      data-bottom-top="transform: translate3d(0px, -90%, 0px);"
      data-top-bottom="transform: translate3d(0px, 90%, 0px);"
    ></div>
  </div>

  <div
    class="parallax-image-wrapper parallax-image-wrapper-50"
    data-anchor-target="#festivities + .gap"
    data-bottom-top="transform:translate3d(0px, 200%, 0px)"
    data-top-bottom="transform:translate3d(0px, 0%, 0px)">

    <div
      class="parallax-image parallax-image-50"
      style="background-image:url(images/main/hamptons.jpg)"
      data-anchor-target="#festivities + .gap"
      data-bottom-top="transform: translate3d(0px, -60%, 0px);"
      data-top-bottom="transform: translate3d(0px, 60%, 0px);"
    ></div>
  </div>

  <div
    class="parallax-image-wrapper parallax-image-wrapper-50"
    data-anchor-target="#details + .gap"
    data-bottom-top="transform:translate3d(0px, 200%, 0px)"
    data-top-bottom="transform:translate3d(0px, 0%, 0px)">

    <div
      class="parallax-image parallax-image-50"
      style="background-image:url(images/main/indonesia.jpg)"
      data-anchor-target="#details + .gap"
      data-bottom-top="transform: translate3d(0px, -30%, 0px);"
      data-top-bottom="transform: translate3d(0px, 30%, 0px);"
    ></div>
  </div>

  <div
    class="parallax-image-wrapper parallax-image-wrapper-100"
    data-anchor-target="#nola_c + .gap"
    data-bottom-top="transform:translate3d(0px, 200%, 0px)"
    data-top-bottom="transform:translate3d(0px, 0%, 0px)">

    <div
      class="parallax-image parallax-image-100"
      style="background-image:url(images/main/norway.jpg)"
      data-anchor-target="#nola_c + .gap"
      data-bottom-top="transform: translate3d(0px, -50%, 0px);"
      data-top-bottom="transform: translate3d(0px, 50%, 0px);"
    ></div>
  </div>
<div id="skrollr_body">
  <div id="home"></div>
  <div class="gap gap-100" style="background-image:url(images/main/sitting.jpg);"></div>

<% 
@left_story_end = "left:20%;"
@right_img_end = "left:25%;"

@right_story_end = "left:40%;"
@left_img_end = "left:35%;"
%>
  <div id="our_story" class="content">
    <div>
      <div class="content-heading">
        <img src="images/rn_webheader_left_alligator.jpg" />
        <h2>Our Story</h2>
        <img src="images/rn_webheader_right_alligator.jpg" />
      </div>
      <div class="container-fixed container-border"></div>
    </div>

    <div class="story">
      <div class="storybox story-left" data-bottom-top="left:-100%;" data-center-top="<%= @left_story_end %>" style="float:left;">
        <span>Sept. 2010</span>
        <p>
          A mutual friend - Rachel Heaton, aka Blade, aka Rayban, aka “bad Rachel” - invites Rachel to go to a book release party. When she hears that the book is about Ruby, Rachel thinks, “I love fine minerals!” She wonders why the author, Paul, pays so much attention to her at his party. The next day, they become Facebook friends.
        </p>
      </div>
      <div class="circular timeline1" data-bottom-top="left:100%;" data-center-top="<%= @right_img_end %>" style="float:left;"></div>

      <div class="timeline-separator"></div>

      <div class="circular timeline2" data-bottom-top="left:-100%;" data-center-top="<%= @left_img_end %>" style="float:left;"></div>
      <div class="storybox" data-bottom-top="left:100%;" data-center-top="<%= @right_story_end %>" style="float:left;">
        <span>Fall &amp; Winter 2010</span>
        <p>
          Paul and Rachel hang out. Rachel drags Paul out to see “Case 39” and to the ice-skating rink; Paul teaches her about NYC karaoke, bodegas and sweet drinking spots. They go bowling and tie two games in a row (scores: 117 and 142). Paul makes a Brazilian feast for Rachel (farofa with bananas, fried yuca with habaneros and white fish with coconut sauce) - the first time he has ever cooked for lady friend!        
        </p>
      </div>

      <div class="timeline-separator"></div>

      <div class="storybox story-left" data-bottom-top="left:-100%;" data-center-top="<%= @left_story_end %>" style="float:left;">
        <span>March 2011</span>
        <p>
          Paul decides to woo Rachel on a spring break trip. Rachel chooses St. Lucia because it’s a new country and has interesting rock formations. They are both nervous about actually spending more than a few hours together at one time. But things work out: they are upgraded to the honeymoon suite and discover a mutual love of 90s music.
        </p>
      </div>
      <div class="circular timeline3" data-bottom-top="left:100%;" data-center-top="<%= @right_img_end %>" style="float:left;"></div>

      <div class="timeline-separator"></div>

      <div class="circular timeline4" data-bottom-top="left:-100%;" data-center-top="<%= @left_img_end %>" style="float:left;"></div>
      <div class="storybox" data-bottom-top="left:100%;" data-center-top="<%= @right_story_end %>" style="float:left;">
        <span>July 2011</span>
        <p>
          Paul introduces Rachel as “his girlfriend” to someone they run into at a baseball game. This is the first Rachel has heard about this, but she does not protest. 
        </p>
      </div>

      <div class="timeline-separator"></div>

      <div class="storybox story-left" data-bottom-top="left:-100%;" data-center-top="<%= @left_story_end %>" style="float:left;">
        <span>July 2011</span>
        <p>
          Rachel visits Denver for the first time, where she meets Paul’s family and friends, sees his old high school and the site of his first tech-related job (Computer City!), and gorges herself on green chili and bison meat. 
        </p>
      </div>
      <div class="circular timeline5" data-bottom-top="left:100%;" data-center-top="<%= @right_img_end %>" style="float:left;"></div>

      <div class="timeline-separator"></div>

      <div class="circular timeline6" data-bottom-top="left:-100%;" data-center-top="<%= @left_img_end %>" style="float:left;"></div>
      <div class="storybox" data-bottom-top="left:100%;" data-center-top="<%= @right_story_end %>" style="float:left;">
        <span>September 2011</span>
        <p>
          Paul and Rachel move in together in Williamsburg, Brooklyn. Paul becomes the adoptive father of Rachel’s cat, Kit, aka, the Small Orange Baby. They celebrate with a hipster housewarming party.
        </p>
      </div>

      <div class="timeline-separator"></div>

      <div class="storybox story-left" data-bottom-top="left:-100%;" data-center-top="<%= @left_story_end %>" style="float:left;">
        <span>May 2012</span>
        <p>
          Rachel brings Paul to Puerto Rico for his birthday. They take a terrifying single-prop, eight-seat flight to the tiny island of Culebra, where they see a sea turtle while snorkeling and meet <a href="http://green.blogs.nytimes.com/2012/08/13/defending-a-sanctuary-with-paint-and-song/" target="_">cool, mangrove-painting locals</a>.
        </p>
      </div>
      <div class="circular timeline7" data-bottom-top="left:100%;" data-center-top="<%= @right_img_end %>" style="float:left;"></div>

      <div class="timeline-separator"></div>

      <div class="circular timeline8" data-bottom-top="left:-100%;" data-center-top="<%= @left_img_end %>" style="float:left;"></div>
      <div class="storybox" data-bottom-top="left:100%;" data-center-top="<%= @right_story_end %>" style="float:left;">
        <span>September 2012</span>
        <p>
          They venture to Asia for two weeks. They <a href="http://www.scientificamerican.com/slideshow/komodo-dragons-rife-inequalities-between-the-sexes/" target="_">stalk Komodo dragons</a> and bathe out of a bucket in rural Indonesia. Rachel acquires a large scar after launching over her handlebars  while<a href="http://www.takepart.com/article/2012/12/12/mountain-bikers-hong-kong-offers-more-just-urban-jungles" target="_"> mountain biking in Hong Kong</a>, and Paul gets food poisoning at the airport in Malaysia.
        </p>
      </div>

      <div class="timeline-separator"></div>

      <div class="storybox story-left" data-bottom-top="left:-100%;" data-center-top="<%= @left_story_end %>" style="float:left;">
        <span>January 2013</span>
        <p>
          Paul drags Rachel across the country for a three-month stint in San Francisco, where he takes part in a startup accelerator called Y Combinator. The Small Orange Baby comes along as Rachel’s psychiatrist-certified “comfort animal” - to get around their new apartment's no-pets policy.
        </p>
      </div>
      <div class="circular timeline9" data-bottom-top="left:100%;" data-center-top="<%= @right_img_end %>" style="float:left;"></div>

      <div class="timeline-separator"></div>

      <div class="circular timeline10" data-bottom-top="left:-100%;" data-center-top="<%= @left_img_end %>" style="float:left;"></div>
      <div class="storybox" data-bottom-top="left:100%;" data-center-top="<%= @right_story_end %>" style="float:left;">
        <span>July 2013</span>
        <p>
          On a two-week trip to Sweden and Norway, they explore a <a href="http://www.smithsonianmag.com/ist/?next=/travel/soviet-ghost-town-arctic-circle-pyramiden-stands-alone-180951429/" target="_">Soviet ghost town in Svalbard</a>, drink under the midnight sun and <a href="http://www.smithsonianmag.com/travel/deep-in-the-swedish-wilderness-discovering-one-of-the-worlds-greatest-restaurants-818172/" target="_">eat at one of the world’s best restaurants</a>. Scandinavia, they discover, is wildly expensive.
        </p>
      </div>

      <div class="timeline-separator"></div>

      <div class="storybox story-left" data-bottom-top="left:-100%;" data-center-top="<%= @left_story_end %>" style="float:left;">
        <span>September 2013</span>
        <p>
          Paul takes Rachel to Bermuda “for her birthday.” He gets horribly seasick on a morning scuba diving excursion, and misses the second dive because his ears won't pop. Undeterred, that evening he proposes to Rachel on their hotel balcony at sunset, with champers! She says yes.
        </p>
      </div>
      <div class="circular timeline11" data-bottom-top="left:100%;" data-center-top="<%= @right_img_end %>" style="float:left;"></div>

      <div class="timeline-separator"></div>

      <div class="circular timeline12" data-bottom-top="left:-100%;" data-center-top="<%= @left_img_end %>" style="float:left;"></div>
      <div class="storybox" data-bottom-top="left:100%;" data-center-top="<%= @right_story_end %>" style="float:left;">
        <span>March 2014</span>
        <p>
          They get a civil union so Rachel can piggyback on Paul’s health insurance policy. Romantic!
        </p>
      </div>

      <div class="timeline-separator"></div>

      <div class="storybox story-left" data-bottom-top="left:-100%;" data-center-top="<%= @left_story_end %>" style="float:left;">
        <span>August 2014</span>
        <p>
          In Mongolia, they ride two-humped camels, sample fermented mare's milk and follow on the heels of Genghis Khan. 
        </p>
      </div>
      <div class="circular timeline13" data-bottom-top="left:100%;" data-center-top="<%= @right_img_end %>" style="float:left;"></div>

      <div class="timeline-separator"></div>

      <div class="circular timeline14" data-bottom-top="left:-100%;" data-center-top="<%= @left_img_end %>" style="float:left;"></div>
      <div class="storybox" data-bottom-top="left:100%;" data-center-top="<%= @right_story_end %>" style="float:left;">
        <span>September 2014</span>
        <p>
          Paul <a href="https://github.com/pauldix/rachelandpaul4eva" target="_">writes code</a> and Rachel writes copy to launch this website. And they prepare to throw an amazing party for their family and friends!
        </p>
      </div>
      <div class="timeline-separator"></div>
    </div>
    <div class="separator-30"></div>
    <div class="container-fixed container-border"></div>
  </div>
  <div class="gap gap-50" style="background-image:url(images/main/beach.jpg);"></div>

  <div id="wedding_party" class="content">
    <div class="container container-fixed">
      <div>
        <div class="content-heading">
          <img src="images/rn_webheader_left_alligator.jpg" />
          <h2>Wedding Party</h2>
          <img src="images/rn_webheader_right_alligator.jpg" />
        </div>
        <div class="container-fixed container-border"></div>
      </div>

      <h3 id="bride_and_groom">Bride &amp; Groom</h3>
      <div>
        <div class="images" style="padding-left:105px;">
          <div class="circular circular-big rachel selected" data-offset="0"></div>
          <div class="circular circular-big paul" data-offset="1"></div>
        </div>
        <div class="image-descriptions">
          <div class="image-container">
            <div class="image-description">
              <h4>Rachel</h4>
              <p>
                Rachel grew up exploring the bayous and beaches of her native Biloxi, Mississippi. Friends often referred to her house as “Noah’s Ark” because of the menagerie of animals living there - chickens, iguanas, hedgehogs, snakes… Cats, however, reigned surpreme. She and her sister could often be found trapping feral kittens under a derelict bridge, which they tamed and found homes for. 
              </p>

              <p>
                Her love of all thing wild and green led her to study biology at Loyola University New Orleans. After graduating, she headed to Japan for a year to teach English, and then enrolled in an ecology master’s program in Europe. She spent time <a href="http://journals.cambridge.org/action/displayAbstract;jsessionid=ED7D4D43A3B262E18BEF88D58421E6E6.journals?aid=9111707&fileId=S0030605312000865" target="_">researching illegal wildlife trade</a> in a peat swamp in Vietnam, where she ate a rat, got attacked by thousands of bees and was thrown off a motorbike. But thrilling as science was, mid-way through her degree she realized that statistics and data analysis weren’t her favorite things, so she applied to NYU’s science journalism master’s program. Writing about science rather than doing science turned out to be a perfect fit - as was New York City. Now, she <a href="http://rachelnuwer.com/published-articles/" target="_">contributes to outlets</a> such as <i>The New York Times</i>, the BBC and <i>Smithsonian</i>. 
              </p>

              <p>
                When not hunched over her desk rushing to meet a deadline, Rachel loves traveling (she’s been to 40 countries), cooking (she does it to spoil Paul) and <a href="http://rachelnuwer.com/photography/" target="_">taking photos</a> (often times of cooked things, while traveling!).
              </p>
            </div>
            <div class="image-description">
              <h4>Paul</h4>
              <p>
                Paul hails from Denver, Colorado, where he grew up skiing, skating and playing video games. His obsession with computers surfaced early, after his grandmother gave him a Commodore 64c for his ninth birthday. Hooked, he wrote his first computer program in 4th grade.
              </p>
              <p>
                After high school, Paul worked as a PC technician and network administrator in Denver, and then as a software tester at Microsoft in Redmond, Washington. After returning to Denver, he worked as a programmer at a startup, and later at Air Force Space Command. In 2005, he moved to New York to live in the city of his dreams and to attend Columbia University. He pursued a degree in Computer Science, studying artificial intelligence and machine learning. While in school, Paul also worked on projects for the New York Jets, BBC, Channel 4 UK and Google.
              <p>
              <p>
                Since finishing school, Paul has continued to be an active member of the NYC tech community. In 2009, he founded the <a href="http://www.meetup.com/NYC-Machine-Learning/" target="_">New York City Machine Learning Meetup</a>, which now has more than 5,200 members. He is the author of <a href="http://www.amazon.com/Service-Oriented-Design-Rails-Addison-Wesley-Professional-ebook/dp/B00413PHZU/ref=sr_1_1?ie=UTF8&qid=1408916552&sr=8-1&keywords=service+oriented+design+with+ruby+on+rails" target="_"><i>Service Oriented Design with Ruby and Rails</i></a>, and is the editor for Addison Wesley's book and video series <a href="http://www.pearsonhighered.com/educator/series/AddisonWesley-Data-Analytics-Series/13601.page" target="_"><i>Data &amp; Analytics</i></a>. In 2013, he participated in the startup accelerator Y Combinator and founded the company <a href="http://influxdb.com" target="_">InfluxDB</a>. He is also a frequent speaker at conferences and user groups around the world, from Tokyo and London to Paris and Portland.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="container-separator"></div>

      <h3 id="bridesmaids">Bridesmaids</h3>
      <div>
        <div class="images">
          <div class="circular amelia selected" data-offset="0"></div>
          <div class="circular ali" data-offset="1"></div>
          <div class="circular jason" data-offset="2"></div>
          <div class="circular amber" data-offset="3"></div>
          <div class="circular tracey" data-offset="4"></div>
        </div>
        <div class="image-descriptions">
          <div class="image-container">
            <div class="image-description">
              <h4>Amelia Joy Nuwer</h4>
              <h5>Maid of Honor</h5>
              <p>
                As my older sister, Ra-Ra was my role model when I was growing up. Whether she was making me believe there was a ghost living in our house, tricking me into thinking I could lay an egg or feeding me potentially poisonous flowers, my older sister was always the person I looked up to the most. 
              </p>
              <p>
                Despite the trauma I endured as a child, Rachel and I have only grown closer as we have both gotten older. We have traveled the world together, riding camels in the Sahara, raving all night in Tokyo and taking a one-night trip to Croatia - just to say we’ve been there. My big sister still remains my role model and I know that her wedding day, together with friends and family, will be another great memory we will share.
              </p>
            </div>
            <div class="image-description">
              <h4>Ali Holder</h4>
              <p>
                I met Rachel over a decade ago when we were studying abroad in Pontlevoy, France. Rachel and I were the two youngest students in attendance at L'Abbey, an ancient abbey in the French countryside that had been turned into a part-time school. After many late nights of frolicing in the forest and hanging out at the one bar in town, we decided we would be friends for life. Since then, we have spent time together in New Orleans and New York. I <a href="http://aliholder.com/site/">play music in Austin</a> and all around this great country, and I once worte a song on the Mississippi River levy while staying at Rachel's apartment in New Orleans. Whenever Rachel attends my shows, I’m always sure to play it.  
              </p>
            </div>
            <div class="image-description">
              <h4>Jason Lashbrook</h4>
              <p>
                Rachel and I have been friends for nearly 15 years. We met through our high school band, when I was her French horn section leader. After high school, our friendship continued to grow, especially as we planned a semester abroad in France. We lived in France for three magical months, spending every day together and traveling extensively throughout Europe. Those adventures (and misadventures) solidified a deep friendship.
              </p>
              <p>
                Despite living on opposite sides of the country — or even the planet — throughout the years afterward, we have always managed to maintain our friendship. We make an effort to talk regularly and to see each other every year. I am honored to be included in her wedding ceremony, and I am looking forward to the coming decades of our friendship.
              </p>
            </div>
            <div class="image-description">
              <h4>Amber Williams</h4>
              <p>
                Rachel and I met the first day of grad school in 2010, but our friendship really began in a 
                shared cubicle named Biedler Forest, where, as summer interns for <i>Audubon Magazine</i>, we 
                complained about grad school. The struggles — long hours, high costs, rough critiques — are what brought us together. That cubicle is where I first heard about Paul, too - a super smart guy who shared her love of new experiences and, crucially, travel.
              </p>
              <p>
                Since then, we have danced two New Year’s Eves away, dressed as incarcerated lesbian lovers, and wrapped our arms around R.L. Stine and James Watson - amongst many more times I’ll always remember. And happily, our friendship extends into work. Rachel is an exceptional science journalist and I’m grateful to have her as a writer at <i>Scientific American</i>. Now if only she’d stop trying to set me up with every guy she meets!
              </p>
            </div>
            <div class="image-description">
              <h4>Tracey Lee Williams</h4>
              <p>
                I met Rachel when she was 18 and I was 33, in a tiny village in France. We did not click right away — that happened months later, at a Latin nightclub in Paris. Over the last 10 years, she has become one of my best friends and an amazing travel buddy. We have met up in Mississippi and Manhattan, too many times to count. I visited her in Kiso, Japan, where she taught for the JET Program, and we explored temples in Kyoto over the weekend. Another year, we had a lovely Thanksgiving dinner of cheese fondue in Poitiers, France, before heading to Paris. And she once came to my rescue in The Middle of Nowhere, Slovenia. 
              </p>
              <p>
                When I first got to know “RachelNuwer,” I told her I wanted to be her when I grew up — she was this incredible 18 year-old!  And, now, I feel the same — she’s still incredible, and I still want to be her when I grow up. I love her to pieces!
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="container-separator"></div>
      <h3 id="groomsmen">Groomsmen</h3>
      <div>
        <div class="images">
          <div class="circular ty selected" data-offset="0"></div>
          <div class="circular geej" data-offset="1"></div>
          <div class="circular coulter" data-offset="2"></div>
          <div class="circular rob" data-offset="3"></div>
          <div class="circular dave" data-offset="4"></div>
        </div>
        <div class="image-descriptions">
          <div class="image-container">
            <div class="image-description">
              <h4>Ty Parker</h4>
              <h5>Best Man</h5>
              <p>
                I met Paul many years ago, when our mutual friend, Dave, brought me to a party Paul was throwing at his place in Denver. The only really distinct memory I have from that night was that, after asking what he did for a living, Paul not only told me what he did but also how good he was at it. Since that wasn't enough, apparently, he brought me to his computer and pulled up an e-mail from a client noting Paul's "god-like abilities." I kept thinking, "Why is this 13-year-old boy so full of himself?" But how wrong I was. He was much older.
              </p>
              <p>
                Eventually, we wound up working at several jobs together over a few years, including a software startup and at an Air Force base in Colorado Springs. Things got even better when we moved to New York City within a few months of each other. We've since had amazing times in New York and in travels to Brazilian beaches, Japanese temples, Mongolian gers and many spots in between.
              </p>
              <p>
                I suppose there is one thing that is god-like about Paul after all: his friendship.
              </p>
            </div>
            <div class="image-description">
              <h4>Geoffrey Dix, Jr.</h4>
              <h5>Brother of the Groom</h5>
              <p>
                Paul has always been like a brother to me. It is a relationship that started with mutual dislike but eventually grew into one of mutual respect (at least I think it's mutual). The transition from being just an annoying older brother to a person who I respect might have begun on a camping trip near Creede, Colorado, with several friends. 
              </p>
              <p>
                I was in college at the time - although from my memory of the end of the trip, I was definitely of drinking age. We went hiking and backpacking and planned to tackle a random 14er. I had always considered myself the more athletic one of the two of us due to my participation in organized sports and, conversely, Paul's obsession with the video game Doom II (amongst others). That's why it came as a great surprise to me that, day after day, he was in the front of the pack during our hikes - while I was dragging in the back. At the beginning I found it embarrassing, but as the trip continued I felt nothing but pride and respect. And since then the pride and respect has only grown.
              <p>
            </div>
            <div class="image-description">
              <h4>Lt. Coulter Reyes</h4>
              <p>
                In 1989, I was an impressionable young buck of a mere 10 years, when my elementary school arranged a visit to the nearby middle school. The purpose was simple: match each 5th grader with a wise 6th grader who would guide their young protégé in the erudite path of 6th graderness. That is… unless you had the misfortune of being paired with Mr. Paul Dix. As my mentor, Paul ridiculed me for my selection of “pizza” as my favorite food and “red” as my favorite color. But no insult would sting as painfully as my ill-fated attempt at humor: Trying to demonstrate my savoir faire as a 6th grade candidate, I jested that my favorite band was <a href="http://www.youtube.com/watch?v=tbIEwIwYz-c" target="_">“NKOTB.”</a> At first, there was a moment of startled silence. But then a twisted grimace slowly spread over Paul’s pre-pubescent maw, and he bellowed for all to hear, “This guy likes NKOTB!!!” Needless to say, the resulting cacophony of adolescent laughter scarred me for life. To this day, I dare not utter a jest to try “to be cool.”
              </p>
              <p>
                All jokes aside, Paul's been my best friend for decades and I owe it all to his disdain for NKOTB (as I, too, loathed the NKOTB-laden airways of 1989). I HEART PAULIE!
              </p>
            </div>
            <div class="image-description">
              <h4>Robert Reyes</h4>
              <p>
                I met Paul back in the good old early nineties, around 7th grade. My brother and I were living in my Grandpa’s house over on S. Pearl and Yale in Denver. We started hanging out with a neighborhood boy, Geoff, who lived down the block. Well, as I’m sure you all know, Geoff’s big bro is the one and only Pauly! Skip forward a few years to high school, and guess who was in the high school band? None other than P himself! 
              </p>
              <p>
                Thus began a friendship that ended up being lifelong. Our summers were filled with volleyball matches, long days on our skates and far more soda than any human alive should ever consume. After high school, we roommated together for years. This was an era fueled by Baz Luhrman, luaus at our house and (family, please ignore this last blurb) enough beer bottles in our recycling bin to rebuild the Taj Mahal. When I recollect my youth, my fondest memories are, by far, those endless summers that we spent skating, roving the grounds of Elitch's amusement park and pulling all-nighters playing video games. Congratulations, Paul! You deserve every ounce of happiness coming your way!
              </p>
            </div>
            <div class="image-description">
              <h4>Dave Lawrence</h4>
              <p>
                I ride a fixie in San Francisco because I think I'm cool, but I can't meet deadlines for writing a bio.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="container-separator"></div>
      <h3 id="flower_girl">Flower Girl</h3>
      <div>
        <div class="images">
          <div class="circular xyla selected" data-offset="0"></div>
        </div>
        <div class="image-descriptions">
          <div class="image-container">
            <div class="image-description">
              <h4>Xyla Dix</h4>
              <p>
                Xyla is Paul's niece. He has been a fantastic uncle to her (although she does refer to the wedding as when her Aunt Rachel will be getting married). She loves receiving postcards from Uncle Paul and Aunt Rachel's exciting adventures. Xyla also always laughs when she talks about the "Orca Poop" that Uncle Paul and Aunt Rachel sent her while they were in San Diego. In addition, Xyla enjoys playing with all of the fun toys from Aunt Rachel's childhood that she has sent to Xyla. One toy in particular that she likes and plays with a lot is a black puppet bat that came along in one of the boxes. It definitely seems that Aunt Rachel and Xyla both share a fascination of bugs and other generally creepy stuff.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fixed container-border"></div>
  </div>
  <div class="gap gap-100" style="background-image:url(images/main/duomo.jpg);"></div>

  <div id="festivities" class="content">
    <div class="container container-fixed">
      <div>
        <div class="content-heading">
          <img src="images/rn_webheader_left_alligator.jpg" />
          <h2>Festivities</h2>
          <img src="images/rn_webheader_right_alligator.jpg" />
        </div>
        <div class="container-fixed container-border"></div>
      </div>

      <div class="festivities-description">
        <h3>Friday, April 10</h3>
        <div class="circular-big selected nola-friday"></div>
        <div class="festivities-text">
          <p>
            Coming Soon! There will be some sort of pre-party at a bar Friday night. And, potentially, a voodoo or swamp tour during the day. Check back soon for details!
          </p>
        </div>
      </div>
      <div class="container-separator"></div>

      <div class="festivities-description">
        <h3>Saturday, April 11</h3>
        <div>
          <div class="circular-big selected the-elms"></div>
          <div class="festivities-text">
            <h4><a href="http://www.elmsmansion.com/" target="_">The Elms Mansion and Gardens</a></h4>
              <h5>Ceremony, 7 pm</h5>
            <p>
              Drinks, dinner and dancing immediately to follow. 
            </p>
          </div>
        </div>
        <div style="clear:both;">
          <div class="circular-big selected the-columns"></div>
          <div class="festivities-text">
            <h4><a href="http://www.thecolumns.com/#!the-victorian-lounge/c1345" target="_">The Columns</a></h4>
              <h5>After-party, 11 pm</h5>
            <p>
              Those still standing are invited to join us for a nightcap at The Columns, a ten minute
               walk from the Elms.
            </p>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="container-fixed container-border"></div>
  </div>
  <div class="gap gap-50" style="background-image:url(images/main/hamptons.jpg);"></div>

  <div id="details" class="content">
    <div>
      <div class="content-heading">
        <img src="images/rn_webheader_left_alligator.jpg" />
        <h2>Details</h2>
        <img src="images/rn_webheader_right_alligator.jpg" />
      </div>
      <div class="container-fixed container-border"></div>
    </div>

    <div class="container-fixed container-fixed-small">
      <h3 id="hotels">Hotels</h3>
      <p>
        Our wedding falls on the weekend of the <a href="http://fqfi.org/frenchquarterfest" target="_">French Quarter Festival</a>. The good news is that there will be hundreds of free live music shows! The bad news is that hotels are more expensive and less available. Many of the hotels we found have early expirations for the block rate and also could only guarantee holding a few rooms. So make your reservations in advance to save yourself some money, and to ensure you have a place to lay your weary head after consuming copious numbers of hurricanes and sazeracs!   
      </p>
      <p>
        To access the block rates quoted here, mention the "Nuwer-Dix Wedding" when calling the hotels.
      </p>
    </div>
    <div class="container-fixed">
      <div class="wrapper">
        <iframe src="https://mapsengine.google.com/map/embed?mid=zBqQFn71OnUg.kurDqREv9W9A" width="100%" height="400"></iframe>
      </div>
    </div>
    <div class="container-fixed">
      <%= partial "hotels" %>
    </div>
    
    <div class="container-fixed"><div class="container-separator"></div></div>

    <div class="container-fixed container-fixed-small">
      <%= partial "faq" %>
    </div>

    <div class="container-fixed"><div class="container-separator"></div></div>
    
    <div class="container-fixed container-fixed-small">
      <h3 id="registry">Registry</h3>
      <p>
        Our tiny New York City apartment makes acquiring new toys difficult, and your presence at our wedding is the best gift you could ever give (seriously!).
      </p> 
      <p>
        If you do feel compelled to give us a gift, flat gifts would be much appreciated. These will go directly toward the honeymoon fund: Turks and Caicos the week after the wedding, and the Siberian Railway (St. Petersburg to Vladivostok) in the summer. Help us scuba dive and drink lots of vodka! 
      </p>
      <p>
        For those who prefer something tangible, we will be setting up a small registry soon. If possible, please send shipments directly to NYC: 184 Kent Ave., A-507, Brooklyn, NY 11249.
      </p>
    </div>

    <div class="container-fixed container-border"></div>
  </div>
  <div class="gap gap-50" style="background-image:url(images/main/indonesia.jpg);"></div>

  <div id="nola_c" class="content">
    <div>
      <div class="content-heading">
        <img src="images/rn_webheader_left_alligator.jpg" />
        <h2 id="nola">NOLA</h2>
        <img src="images/rn_webheader_right_alligator.jpg" />
      </div>
      <div class="container-fixed container-border"></div>
    </div>
    <div class="container container-fixed">
      <p>
        If you have never been to New Orleans or the Deep South, we encourage you to build in extra time for exploring! The South is culturally distinct from other parts of the country, and there no place in the world quite like New Orleans. From historic plantations and century-old cemeteries, to funk jazz and creole cooking, there is much to discover.
      </p>
      <p>
        To help you make the most of your trip (and to avoid the tourists traps!), we’ve put together a few of our favorite sights, tastes and sips in New Orleans, as well as in the greater South.
      </p>
      <h3 id="tours_and_classes">Tours &amp; Classes</h3>
      <p>
        There are lots of entertaining, informative walking and bus tours around the city, all of which contain a significant dose of New Orleans history and culture. Here are some options: 
      </p>
      <ul>
        <li>
          <b><a href="http://hauntedhistorytours.com/" target="_">Haunted History:</a></b> French Quarter ghost, cemetery, voodoo, scandal, vampire and Garden district ghosts and legends tours. 
        </li>
        <li>
          <b><a href="http://www.magictoursnola.com/" target="_">Magic Tours:</a></b> Tours “for the intelligent traveller,” delivered by professors, historians and journalists. Ghost and voodoo, St. Louis cemetery, Garden District and Lafayette cemetery, and French Quarter tours. 
        </li>
        <li>
          <b><a href="http://www.friendsofthecabildo.org/" target="_">Friends of the Cabildo:</a></b> French Quarter walking tours with an emphasis on history, architecture and folklore. Tours include free admission to the 1850 House Museum. 
        </li>
        <li>
          <b><a href="http://www.tourneworleans.com/cocktail_set.html" target="_">Historic New Orleans Tours:</a></b> Usual assortment of ghosts, vamps, etc, plus an adults only “Scandalous Cocktail Hour Tour,” which delves into hookers, crime and booze.
        </li>
      </ul>
      <p>
        There are swamp tours that are a short drive from New Orleans. You’ll see alligators (potentially some up to ten-feet long or so!), decades-old cypress trees, Cajun floating homes and more. Well worth the trip, even if you’re not a nature person or whatever. If you don’t have your own car, they can pick you up from your hotel. Lots of options for those, but we think <a href="http://www.honeyislandswamp.com/" target="_">Honey Island Swamp Tours</a> are the best. 
      </p>
      <p>
        Mardi Gras tours are arranged through <a href="http://www.mardigrasworld.com/tours/about-us/" target="_">Mardi Gras World</a>. They have “a magical float den” on site. There’s another tour in the Treme neighborhood that focuses on the <a href="http://tremeindiantours.com/" target="_">Mardi Gras Indians and black Mardi Gras</a>.
      </p>
      <p>
        Alternatively, if you’re interested in learning about the lasting impacts of Hurricane Katrina while also getting a little excercise, check out the <a href="http://ninthwardrebirthbiketours.com/" target="_">Ninth Ward Rebirth Bike Tours</a>. Additionally, there’s a green home you can visit in the Lower 9th Ward called the <a href="http://www.globalgreen.org/articles/global/115" target="_">Global Green House</a>. There are also <a href="#" target="_">bus tours</a> that cover more distance and deliver a fuller picture of Katrina's impact on the city and surrounding parishes.
      </p>
      <p>
        For Cajun, Creole and Southern cooking classes, check out the <a href="http://www.neworleansschoolofcooking.com/" target="_">New Orleans School of Cooking</a>, <a href="http://www.langloisnola.com/" target="_">Langlois Culinary Crossroads</a> and the <a href="http://www.thenoce.com/" target="_">New Orleans Cooking Experience</a>.
      </p>
      <p>
        You can take two hour tours up and down the Mississippi River on the historic <a href="http://www.steamboatnatchez.com/" target="_">Natchez Steam Boat</a>, with dinner and lunch options, and jazz played on all trips. There’s also jazz dinner cruises and Civil War battlefield trips on the historic <a href="http://www.creolequeen.com/" target="_">Creole Queen paddleboat</a>.
      </p>
      <p>
        Finally, if you don’t have a car but want to check out some plantations, the <a href="http://plantationadventure.com/" target="_">Old River Road Plantation Adventure</a> hits four plantations and has a swamp add-on option. They’ll pick you up by car or you can take their paddle boat.
      </p>
      <iframe src="https://mapsengine.google.com/map/embed?mid=zBqQFn71OnUg.kQNHV4RQn-Ds" width="100%" height="400"></iframe>
    
      
      <%= partial "eating" %>
      <h3 id="explore_the_south">Explore the South!</h3>
      <iframe src="https://mapsengine.google.com/map/embed?mid=zBqQFn71OnUg.kVSYdQWQwUU8" width="100%" height="400"></iframe>
      <%= partial "explore" %>
    </div>
    <div class="container-fixed container-border"></div>
  </div>
  <div class="gap gap-100" style="background-image:url(images/main/norway.jpg);"></div>
</div>